

.custom-container {
    background-color: black;
    color: white;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    footer.py-5 {
        background-color: black;
        color: white;
    }
    .col-6.col-md-2.mb-3 li a {
        background-color: black;
        color: white;
    }    

}

