$breakpoint: 480px;



h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    padding-top: 6%; 
    padding-left: 2%;
    padding-bottom: 2%;
}

.novedades{
    background-color: #feedd9;
    padding-bottom: 4%;
    .ultimasNovedades {
        display: flex;
        &__descripcion  {
            display: flex;
            width: 150px;
            height: 230px;
            padding: 2%;
            div{
                img{
                    display: inline;
                    width: 136px;
                    height: 136px;
                    margin-top: 16px;
                    margin-bottom: 16px;
                }
                p {
                    text-align: center;
                    color: #343f5e;
                    font-weight: bold;
                    font-family: 'Montserrat', sans-serif;
                }
            }
        }

        .listadoProductos__index {   
            width: 100%;
            .row{
                margin: 2%;
                justify-content: center;
            }
            .col .card{    
                img{
                    height: 30vh;
                }
                .card-body{
                    height: 30%;
                    position: relative; 
                    h5 {
                        font-family: 'Montserrat', sans-serif;
                        font-weight: bold;
                        font-size: 100%;
                        text-align: center;
                    }
                    .precio {
                        font-family: 'Montserrat', sans-serif;
                        font-weight: bold;
                        font-size: 90%;
                        text-align: center;
                    }
                }
                .card-text {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 60%;
                }
                a {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: bold;
                    font-size: 0.8rem;
                    position: absolute;
                    bottom: 0;
                    left: 0; 
                    right: 0;
                    text-align: center;
                    padding-bottom: 5%;
                }
                
            }
        }
    }
}

.ofertas {
    background-color: #feedd9;
    padding-bottom: 4%;
    img {
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
        height: 100%;
        margin: 0%;
    }
}

.reconocimiento {
    background-color: #feedd9;
    padding-bottom: 4%;
    .premios {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 20vh 20vh 20vh;
        grid-template-areas: 
        "imagen titulo"
        "imagen parrafo"
        "imagen parrafo";
        img{
            display: flex;
            width: 100%;
            height: 100%;
            grid-area: imagen;
            justify-content: center;
            align-items: center;
            padding-left: 10%;
            padding-top: 5%;
            padding-bottom: 5%;
        }       
        .premio__detalle {
            background-color: #feedd9;
            padding: 5%;
            height: auto;
            font-family: 'Montserrat', sans-serif;
            h4{
                font-size: 150%;
                font-weight: bold;
                padding: 2%;
                grid-area: titulo;
            } 
            h5 {
                font-size: 100%;
                padding: 2%;
                grid-area: parrafo;
            } 
        }
    }
    @media (max-width: 768px) {
        .premios {
            display: block;
            img {
                order: 2;
                padding: 5%;
                max-width: 50%;
                height: auto;
                margin: 0 auto;
            }
            .premio__detalle {
                padding: 2%;
            }
            h4 {
              order: 3;
            }
            h5 {
              order: 4;
            }
        }
    }

}