$breakpoint: 768px;
$principalcolor: #343f5e;
$secondarycolor: #feedd9;

.tituloSobreNosotros {   
    h1 {
        background-color: $secondarycolor;
        padding-top: 5%;
        font-size: 350%;
        font-weight: bold;
        text-align: center;
        margin: 0;
        font-family: "Montserrat", sans-serif;
    }
}

.sobreNosotros {
    background-color: $secondarycolor;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5%;
    padding: 5%;
    .imagenQuienesSomos {
      grid-row: 1;
      grid-column: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
            object-fit: cover;
            width: 100%;
            height:auto;
            @media (max-width: $breakpoint) {
            width: 50%;
            height:auto;
            }
        }
    }
    .detalleQuienesSomos {
        grid-row: 1;
        grid-column: 2/4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .titulo {
            font-weight: bold;
            font-family: "Montserrat", sans-serif;
            font-size: xx-large;
        
        }
        .descripcion {
            width: 100%;
        }
    }
  
    .nuestrahistoria {
        grid-row: 2;
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .titulo {
            font-weight: bold;
            font-family: "Montserrat", sans-serif;
            font-size: xx-large;
        }
    }
  
    .imagenNuestrahistoria {
        grid-row: 2;
        grid-column: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5%;
        img {
            width: 50%;
            height: auto;
            object-fit: cover;
        }
    }
}

.contacto {
    background-color: $principalcolor;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    padding: 2%;
    align-items: center;
    h4 {
        text-align: center;
        grid-column: 1;
    }
   .formcontacto {
        p{
            font-weight: 800;
            font-size:x-large; 
        }
    }
    form{
        .form-text{
            color: white;
            font-weight: 300;
        }
        .btn {
            background-color: rgb(110, 81, 229);

        }
    }
}



@media (max-width: $breakpoint) {
    .sobreNosotros,
    .contacto {
      display: block;
    }
}