@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .header2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "desplegable buscar";
  }
  .header2 img {
    display: none;
  }
  .header2 .menu__mobile {
    display: block;
    grid-area: desplegable;
    margin: 10%;
  }
  .header2 .menu__mobile li a {
    justify-content: left;
    padding-left: 10px;
  }
  .header2 .navbar.navbar-light .container-fluid .d-flex {
    grid-area: buscar;
  }
  .header2 .navbar.navbar-light .container-fluid .d-flex button {
    display: none;
  }
  .banner img {
    display: none;
  }
  .categorias .menu {
    display: none;
  }
  .ultimasNovedades__descripcion {
    display: none;
  }
}
@media (min-width: 481px) {
  .header2 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "logo buscar carrito";
  }
  .header2 .menu__mobile {
    display: none;
  }
}
.header1 {
  background-color: black;
  width: auto;
  height: 24px;
  justify-content: center;
  align-items: center;
}
.header1 h4 {
  color: white;
  text-align: center;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.header2 {
  background-color: #343f5e;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 70px;
}
.header2 img {
  margin-left: 10%;
  justify-content: left;
  grid-area: logo;
}
.header2 .navbar.navbar-light .container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  grid: buscar;
}
.header2 a {
  display: flex;
  margin-right: 10%;
  justify-content: right;
  grid-area: carrito;
}

.banner img {
  width: 100%;
  height: 100%;
}

/* Menú general */
.menu {
  background-color: #343f5e;
}
.menu ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin: 0%;
}
.menu ul li a {
  margin-right: 20px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.custom-container {
  background-color: black;
  color: white;
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
}
.custom-container footer.py-5 {
  background-color: black;
  color: white;
}
.custom-container .col-6.col-md-2.mb-3 li a {
  background-color: black;
  color: white;
}

.ofertas img {
  width: 100%;
  margin: 0%;
}

.ultimasNovedades {
  display: flex;
  background-color: #343f5e;
}
.ultimasNovedades__descripcion {
  display: flex;
  width: 150px;
  height: 230px;
  padding: 2%;
}
.ultimasNovedades__descripcion div img {
  display: inline;
  width: 136px;
  height: 136px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.ultimasNovedades__descripcion div p {
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.ultimasNovedades .listadoProductos__index {
  width: 100%;
}
.ultimasNovedades .listadoProductos__index .row {
  margin: 2%;
  justify-content: center;
}
.ultimasNovedades .listadoProductos__index .col .card img {
  height: 30vh;
}
.ultimasNovedades .listadoProductos__index .col .card .card-body {
  height: 30%;
  position: relative;
}
.ultimasNovedades .listadoProductos__index .col .card .card-body h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
}
.ultimasNovedades .listadoProductos__index .col .card .card-body .precio {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 90%;
  text-align: center;
}
.ultimasNovedades .listadoProductos__index .col .card .card-text {
  font-family: "Montserrat", sans-serif;
  font-size: 60%;
}
.ultimasNovedades .listadoProductos__index .col .card a {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-bottom: 5%;
}

.premios {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 20vh 15vh 20vh;
  background-color: #feedd9;
  grid-template-areas: "imagen titulo" "imagen parrafo" "imagen parrafo";
}
.premios img {
  display: flex;
  width: 100%;
  height: 100%;
  grid-area: imagen;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.premios .reconocimientos {
  display: block;
  margin-top: 2%;
  padding-left: 2%;
  height: auto;
  font-family: "Montserrat", sans-serif;
}
.premios .reconocimientos .reconocimiento__titulo {
  font-size: 150%;
  font-weight: bold;
  padding: 2%;
  grid-area: titulo;
}
.premios .reconocimientos .reconocimiento__parrafo {
  font-size: 100%;
  padding: 2%;
  grid-area: parrafo;
}

.productos {
  display: flex;
  background-color: #feedd9;
}
.productos .filtro {
  margin: 4%;
  font-family: "Montserrat", sans-serif;
}
.productos .filtro p {
  font-weight: bold;
  text-decoration: underline;
}
.productos .listadoProductos .row {
  margin: 2%;
}
.productos .listadoProductos .row .col .card img {
  height: 40vh;
}
.productos .listadoProductos .row .col .card card-body {
  height: 40%;
  position: relative;
}
.productos .listadoProductos .row .col .card card-body h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
}
.productos .listadoProductos .row .col .card card-body .card-text {
  font-family: "Montserrat", sans-serif;
  font-size: 60%;
}
.productos .listadoProductos .row .col .card card-body a {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-bottom: 5%;
}
.productos .listadoProductos .row .col .card card-body .precio {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 90%;
  text-align: center;
}

.comoComprar {
  background-color: #feedd9;
  padding: 8%;
  font-family: "Montserrat", sans-serif;
}
.comoComprar__titulo {
  padding: 2%;
  text-align: center;
}
.comoComprar__titulo h1 {
  padding: 2%;
  font-weight: bold;
}
.comoComprar__detalle {
  display: grid;
  grid-gap: 10%;
  margin: 5%;
  padding-top: 5%;
}
.comoComprar__detalle .comoComprar__paso {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.comoComprar__detalle .comoComprar__paso .paso-imagen {
  max-width: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comoComprar__detalle .comoComprar__paso .paso-imagen img {
  max-width: 100%;
  max-height: 100%;
}
.comoComprar__detalle .comoComprar__paso h6 {
  font-weight: bold;
  text-align: center;
  margin: 5%;
}
.comoComprar__detalle .comoComprar__paso p {
  text-align: center;
  padding: 2%;
}
.comoComprar .consideraciones p {
  padding: 2%;
  font-family: "Montserrat", sans-serif;
  background-color: #ff4342;
  color: #feedd9;
}
@media (min-width: 480px) {
  .comoComprar .comoComprar__detalle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 480px) {
  .comoComprar .comoComprar__detalle {
    display: block;
    padding: 5%;
    padding-bottom: 10%;
  }
  .comoComprar .comoComprar__detalle .comoComprar__paso {
    margin-bottom: 10%;
  }
}

.tituloSobreNosotros h1 {
  background-color: #feedd9;
  padding-top: 5%;
  font-weight: bold;
  text-align: center;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.sobreNosotros {
  background-color: #feedd9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5%;
  padding: 5%;
}
.sobreNosotros .imagenQuienesSomos {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sobreNosotros .imagenQuienesSomos img {
  width: 80%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sobreNosotros .detalleQuienesSomos {
  grid-row: 1;
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sobreNosotros .detalleQuienesSomos .titulo {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: xx-large;
}
.sobreNosotros .detalleQuienesSomos .descripcion {
  width: 100%;
}
.sobreNosotros .nuestrahistoria {
  grid-row: 2;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sobreNosotros .nuestrahistoria .titulo {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: xx-large;
}
.sobreNosotros .imagenNuestrahistoria {
  grid-row: 2;
  grid-column: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}
.sobreNosotros .imagenNuestrahistoria img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacto {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  padding: 5%;
  align-items: center;
}
.contacto h3 {
  text-align: center;
  grid-column: 1;
}
.contacto .formcontact {
  grid-column: 2;
}

@media (max-width: 480px) {
  .sobreNosotros,
  .contacto {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */