*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'header.scss';
@import 'footer.scss';
@import 'pindex.scss';
@import 'animemerch.scss';
@import 'comocomprar.scss';
@import 'sobrenosotros.scss'

